*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.wrapper{
  widows: 100%;
  height: 45px;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-text{
  color: #0C3583;
  font-size:18px;
}

.wrapper>i{
  color:red;
}
@media screen and (max-width: 620px) {
  .wrapper{
  display: none;
  }
}