@font-face {
  font-family: myFirstFont;
  src: url(./Fonts/oswald.bold.ttf);
}
@font-face {
  font-family: oswaldregular;
  src: url(./Fonts/oswald.regular.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(./Fonts/HelveticaLt.ttf);
}
@font-face {
  font-family: helveticaNue;
  src: url(./Fonts/HelveticaNeueMedium.ttf);
}
@font-face {
  font-family: opensan;
  src: url(./Fonts/open-sans.light.ttf);
}
section{
	width: 100%;
	height: 610px;
	background-color: #000;
}
.freeenergy>h1{
	font-size: 86px;
	font-family: myFirstFont;
	font-weight: bold;
	color: white;
}
.onthego{
	font-size: 50px;
	font-weight: bold;
	font-family: myFirstFont;
	color: white;
}
.justcover{
	font-size: 20px;
	font-family: opensan;
	font-weight: bold;
	color: white;
}
.sendenergy>button{
	width: 261.78px;
	height: 58px;
	font-size: 20px;
	font-family: oswaldregular;
	background:#16EC03;
	border: none;
	border-radius: 5px;
}
.col-md-2{
	text-align: center;
}
.col-md-2>span{
	color: #333333;
	font-size: 50px;

}
.col-md-2>h3{
	color: #fff;
	font-size: 20px;
	font-family: oswaldregular;
}
.col-md-2>p{
	color: #fff;
	font-size: 14px;
	font-family: helveticaNue;
}