<div class="container">
	<div class="row mt-4">
		<div class="col-md-8">
			<h1 class="fontstyle"><b>Submit a Claim For Damaged or Missing Items</b></h1>
			<p class="font-size">Sometimes packages are mishandled by shipping couriers or an item is missing from your order.
Not to worry though! We'll take care of you!</p>
<p class="mt-4 font-size">Please use this form to expedite the process:</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<form class="w-75">
			<div class="input-group">
				<input type="text" name="" placeholder="Name" class="form-control">
			</div>
			<div class="input-group mt-3">
				<input type="text" name="" placeholder="Email" class="form-control">
			</div>
			<div class="input-group mt-3">
				<input type="text" name="" placeholder="Subject" class="form-control">
			</div>
			<div class="input-group mt-3">
				<input type="text" name="" placeholder="Order #" class="form-control">
			</div>
			<div class="input-group mt-3">
				<textarea class="form-control" placeholder="Message"></textarea>
			</div>
			<div class="input-group mt-3">
				<p><b>Please submit photos for: Products received, packing slip from package, and illustration of damages (if applicable)
</b></p>
<input type="file" name="">
			</div>
			<div class="input-group mt-3">
				<button class="btn bg-yellow btn-radius p-3 w-50" style="border: 1px solid #000">SUBMIT</button>
			</div>
		</form>
		</div>
	</div>
</div>