
		<div class="col-md-4">
			<div class="product-box">
				<div class="pro-img">
					<img src="{{image}}">
				</div>
				<div class="pro-title">
					<p>{{title}}</p>
				</div>
				<div class="pro-rating">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</div>
				<div class="pro-price">
					{{price}}
				</div>
				<div class="pro-btn">
					<button id="{{id}}">select option</button>
				</div>
			</div>
		</div>

		


		

