<div class="card border-0 text-center">
      <div class="card-img">
      	<img class="img-fluid" src="{{image}}">
      </div>
  <div class="card-body">
  			<div class="card-title custom-t">{{title}}</div>
      	<div class="card-block custom-r">
      		<i class="fa fa-star"></i>
      		<i class="fa fa-star"></i>
      		<i class="fa fa-star"></i>
      		<i class="fa fa-star"></i>
      	</div>
  	<div class="card-price custom-p">{{price}}</div>

  </div>
  <div class="card-footer bg-transparent border-0">
  	<button class="custom-b">select option</button>
  </div>
</div>